<html>

<head>
  <title> Sensors </title>
  <style>
    #ws-status {background-color: #faa;
                padding-inline: 3px;}
    table, th, td {
              border: 1px solid black;
            }
  </style>

</head>

<body>

Connection: <span id="ws-status"> Waiting... </span>
<div id='errorInfo'></div>

<p>
<input type="button" id="clearButton" value="Clear">
<br>
<input type="button" id="blueButton" value="Blue">
<br>
<input type="button" id="rainbowButton" value="Rainbow">
<input type="number" id="rainbowCount" min="1" value="2">

<div id='signal'></div>


<!-- Scripts -->
<script src="{{ static_url("jquery-3.4.1.min.js") }}"></script>
<script src="{{ static_url("ws-client.js") }}"></script>

</body>

</html>
